<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/style/global.css" />
    <script type="text/javascript" src="${request.contextPath}/js/jquery/jquery-3.3.1.min.js"></script>
</head>
<body>

<div id="registerDiv">
    <p>欢迎注册爱问</p>
    <form id="registerForm" action="/doRegister" method="post">
        <!--昵称-->
        <input name="name" type="text" placeholder="昵称"/> <br />
        <!--行业-->
        <input name="profession" type="text" placeholder="行业"/> <br />
        <!--性别-->
        <input name="gender" type="text" placeholder="性别"/> <br />
        <!--电话-->
        <input name="tel" type="text" placeholder="电话"/> <br />
        <!--地址-->
        <input name="addr" type="text" placeholder="地址"/> <br />
        <!--密码-->
        <input name="password" type="password" placeholder="密码"/> <br />

    </form>
</div>
<div class="submit">
    <a href="javascript:save();" class="right saveModelBtn">提交</a>
</div>
</body>
</html>